$chart-item-border-raduis: 4px;
$chart-height: 16px;

.chart {
    width: 611px;
    height: $chart-height;
    display: flex;

    .chart-item {
        display: flex;
        position: relative;

        .base-chart-item {
            width: 100%;
        }

        &:last-child {
            border-radius: 0 $chart-item-border-raduis $chart-item-border-raduis 0;
        }

        &:not(:last-child)::after {
            width: $chart-item-border-raduis;
            height: $chart-height;
            border-radius: 0 $chart-item-border-raduis $chart-item-border-raduis 0;
            background-color: inherit;
            position: absolute;
            right: 0px;
            z-index: 1;
            content: "";
        }

        .appendix {
            height: $chart-height;
            width: $chart-item-border-raduis;
        }
    }
}
